// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: calc(71rem + 3rem); /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 1.5rem; /* 3 */
  padding-right: 1.5rem; /* 3 */
  width: 100%; /* 1 */
}

// max-width: calc(71rem + 3rem);
// margin-left: auto;
// margin-right: auto;
// padding-left: 1.5rem;
// padding-right: 1.5rem;

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Form Field Utility
.u {
  &-form-field {
    $this: &;

    &__label {
      font-size: $font-size-s;
      line-height: $line-height-label;
      margin-bottom: $spacing-xs;
    }

    &__input {
      font-size: $font-size-s;
      line-height: $line-height-label;
      border: 0.1rem solid $color-neutralGraySemi;
      border-radius: $border-radius-s;
      position: relative;

      > div {
        border-radius: 0;
        border: 0;
      }

      &:focus-within {
        box-shadow: $shadow-md;
      }
    }

    &__validation-messages {
      margin-top: $spacing-xs;
    }

    &--error {
      #{$this}__validation-messages,
      #{$this}__input,
      #{$this}__label {
        color: $color-semanticDanger;
      }

      #{$this}__input {
        border-color: $color-semanticDanger;
      }

      .a-input-radio__circle,
      .a-input-checkbox__box {
        background: $color-semanticDanger;
      }

      .a-select__arrow {
        fill: $color-semanticDanger;
      }
    }

    .m-validation-messages__message--success {
      color: $color-semanticSuccess;
    }

    .m-validation-messages__message--error {
      color: $color-semanticDanger;
    }

    &--disabled,
    &__option--disabled {
      #{$this}__input {
        background: $color-neutralGrayLighter;
        color: $color-neutralGray;
        cursor: not-allowed;
      }

      #{$this}__label {
        color: $color-neutralGray;
      }

      .a-label {
        color: $color-neutralGray;
        cursor: not-allowed !important;
      }

      .a-input-radio__circle,
      .a-input-checkbox__box {
        background: $color-neutralGray;
      }
    }
  }
}
