/**
 * @tokens SCSS: Border Radius
 * @presenter BorderRadius
 */

$border-radius-s: .25rem; //4px
$border-radius-m: .5rem; //8px
$border-radius-l: 1rem; //16px
$border-radius-xl: 2rem; //32px
$border-radius-round: 50%;
