// - - - - - - - - - - - - - - - - - - -
// - - colors
// define global colors

/**
 * @tokens SCSS: Colors
 * @presenter Color
 */

// - Theme Colors
$color-brandPrimary: #a8437e;
$color-brandPrimaryLighter: #eca4ce;
$color-brandPrimaryDarker: #900757;

$color-neutralGrayLighter: #eeeff1;
$color-neutralGraySemi: #e0e2e9;
$color-neutralGrayDarker: #9393a0;
$color-neutralGray: #c5c4cf;
$color-neutralWhite: #fff;
$color-neutralBlack: #191d3a;

// - Semantic
$color-semanticInfo: #3bb7ed;
$color-semanticInfoSoft: #e2f6ff;
$color-semanticInfoDark: #005d85;
$color-semanticWarning: #ffb84b;
$color-semanticWarningSoft: #fff3e1;
$color-semanticWarningDark: #c17500;
$color-semanticDanger: #f14130;
$color-semanticDangerSoft: #ffe0dd;
$color-semanticDangerDark: #870c00;
$color-semanticSuccess: #5ecd64;
$color-semanticSuccessDark: #006505;
$color-semanticSuccessSoft: #f0fff1;

$color-transparent: transparent;

$gradient: linear-gradient(90deg, #f00 0%, #0f0 50%, #f00 100%);
// - - - - - - - - - - - - - - - - - - -
// - - functional colors
$text-color: $color-neutralBlack;

// - - base
$body-backgroundColor: $color-neutralWhite;
$body-textColor: $color-neutralBlack;
$body-textColorLight: $color-neutralWhite;

// - - button

// - - forms

// - - tables
