/**
 * @tokens SCSS: Font Sizes
 * @presenter FontSize
 */

$font-size-s: 1.3rem;
$font-size-m: 1.5rem;
$font-size-l: 1.7rem;
$font-size-xl: 2rem;
$font-size-xxl: 3.2rem;

// text sizes
// $text-x-large: 3.4rem;
// $text-large: 2.4rem;
// $text-medium: 2rem;
// $text-small: 1.8rem;
// $text-x-small: 1.5rem;

$text-size-medium-large: 1.5rem;
$text-size-medium: 1.25rem; //20px
$text-size-normal-large: 1rem; //16px
$text-size-normal: 0.88rem; //14px
$text-size-small: 0.75rem; //12px
$text-size-small-extra: 0.65rem; //10.4px


$font-size-inherit:	inherit;
$font-size-base:	16px;
$font-size-xs: 1rem; //16px
$font-size-s: 1.25rem; //20px
$font-size-m: 1.5rem; //24px
$font-size-l: 30px;
$font-size-xl: 38px;
$font-size-2xl: 46px;
$font-size-3xl: 56px;
$font-size-4xl: 68px;
