/**
 * @tokens SCSS: Line Heights
 * @presenter LineHeight
 */

$line-height: 1.5;
$line-height-inherit: inherit;
$line-height-base:	1;
$line-height-input:	1.15;
$line-height-heading:	1.25;
$line-height-text:	1.5;


$line-height-xs: 24px;
$line-height-s: 28px;
$line-height-m: 32px;
$line-height-l: 38px;
$line-height-xl: 46px;
$line-height-2xl: 54px;
$line-height-3xl: 64px;
$line-height-4xl: 76px;
