/**
 * @tokens SCSS: Spacings
 * @presenter Spacing
 */

$spacing-3xs: 4px;
$spacing-2xs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 48px;
$spacing-2xl: 72px;
$spacing-3xl: 96px;
$spacing-4xl: 120px;
