/**
 * @tokens SCSS: Spacings
 * @presenter Spacing
 */

$spacing-3xs: 4px;
$spacing-2xs: 8px;
$spacing-xs: 0.75em;
$spacing-s: 1em;
$spacing-m: 1.5em;
$spacing-l: 2em;
$spacing-xl: 3em;
$spacing-2xl: 72px;
$spacing-3xl: 96px;
$spacing-4xl: 120px;
