/**
 * @tokens SCSS: Spacings
 * @presenter Spacing
 */

$spacing-3xs: .25em; //4px
$spacing-2xs: 0.5em; //8px
$spacing-xs: 0.75em;
$spacing-s: 1em;
$spacing-m: 1.5em;
$spacing-l: 2em;
$spacing-xl: 3em;
$spacing-2xl: 4.5em; //72px
$spacing-3xl: 6em; //96px
$spacing-4xl: 7.5em; //120px
