/**
 * @tokens SCSS: Z-Index
 */

$z-index-header: 500;
$z-index-tooltip: 500;
$z-index-flyout: 700;

$z-index-default: 1;
$z-index-dropdown: 700;
$z-index-modal: 900;
$z-index-overlay: 800;

$z-index-popup: 500;
$z-index-spinner: 905;
$z-index-sticky: 100;
$z-index-toast: 1000;
