.a-nav-item {
	list-style: none;
  display: block;
  margin-left: 2rem;

	a {
		color: $color-gray7;
		transition: background 0.3s;
		display: block;
		padding: 0.5rem 0;

		&:hover {
      background: $color-gray2;
      color: #808080;
		}
	}
}
