$font-path: '~@/assets/scss/base/fonts/roboto/';

@font-face {
	font-family: 'roboto';
	src: url($font_path+'Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_italic';
	src: url($font_path+'Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_black';
	src: url($font_path+'Roboto-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_black_italic';
	src: url($font_path+'Roboto-BlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_bold';
	src: url($font_path+'Roboto-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_bold_italic';
	src: url($font_path+'Roboto-BoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_light';
	src: url($font_path+'Roboto-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_light_italic';
	src: url($font_path+'Roboto-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_thin';
	src: url($font_path+'Roboto-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_thin_italic';
	src: url($font_path+'Roboto-ThinItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_medium';
	src: url($font_path+'Roboto-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_medium_italic';
	src: url($font_path+'Roboto-MediumItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
