.m-form-checkbox {
  $this: &;
  border: 0;

  .m-validation-messages {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }

  &__question{
    .a-text {
      color: $color-neutralBlack;
      font-weight: $font-weight-regular;
    }
  }

  &__options {
    margin-bottom: 1.5rem;

    .a-input-checkbox {
      margin-right: .5rem;
    }

    .a-label {
      display: inline-flex;
      cursor: pointer;
    }
  }
}
