.m-nav-list {
  display: flex;
  width: 100%;

  .a-nav-item {
    border-bottom: 0.1rem solid $color-gray5;

    &:first-child {
      border-top: 0.1rem solid $color-gray5;
    }
  }

  &--horizontal {
    flex-direction: row;
  }
  &--vertical {
    flex-direction: column;
  }
}
