// - - - - - - - - - - - - - - - - - - -
// - - colors
// define global colors

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

// - - - - - - - - - - - - - - - - - - -
// - - descriptive colors
// - Theme Colors
$color-brandPrimary: #5c67c6;
$color-brandPrimaryDarker: #4248a1;
$color-brandSecondary: #bc016f;
$color-brandSecondaryDarker: #42a16b;

// - Neutral Colors
$color-gray1: #ffffff;
$color-gray2: #fafafa;
$color-gray3: #f5f5f5;
$color-gray4: #e8e8e8;
$color-gray5: #d9d9d9;
$color-gray6: #a5a5a5;
$color-gray7: #474747;
$color-gray8: #1e2225;
$color-gray9: #eceef1;

// - Semantic
$color-semanticInfo: #3bb7ed;
$color-semanticInfoSoft: #e2f6ff;
$color-semanticInfoDark: #005d85;
$color-semanticWarning: #ffb84b;
$color-semanticWarningSoft: #fff3e1;
$color-semanticWarningDark: #c17500;
$color-semanticDanger: #f14130;
$color-semanticDangerSoft: #ffe0dd;
$color-semanticDangerDark: #870c00;
$color-semanticSuccess: #5ecd64;
$color-semanticSuccessDark: #006505;
$color-semanticSuccessSoft: #f0fff1;

// - - - - - - - - - - - - - - - - - - -
// - - functional colors

// - - base
$body-backgroundColor: $color-gray1;
$body-textColor: $color-gray8;
$body-textColorLight: $color-gray1;

// - - button

// - - forms

// - - tables
